/*A3 - Chat App - Web Based Systems</title>
Initial source/guide for this CSS file (heavily modified since, however):
	https://socket.io/get-started/chat/, Socket.IO's chat tutorial, for now.
*/

* {
	/*margin: 0;
	padding: 0;*/
	/*box-sizing: border-box;*/
}

html { height: 100%; max-height: 100%;}

body { 
	font-family: Verdana, Geneva, sans-serif;
	color: white;
	
	/*Below is some stuff needed for the chat thing to size itself properly.*/
	height: 100%;
	min-height: 100%;
	max-height: 100%;
	margin: 0;
	
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#48507a+0,1b2e56+100 */
background: rgb(72,80,122); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(72,80,122,1) 0%, rgba(27,46,86,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(72,80,122,1) 0%,rgba(27,46,86,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(72,80,122,1) 0%,rgba(27,46,86,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48507a', endColorstr='#1b2e56',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}

header {
	padding: 1em 1.5em; 
}

form {
	display: flex;

	/*position: fixed;
	bottom: 0;*/
	width: 100%;
	grid-column: 2;
}

form input {
	/*flex: flex-grow, flex-shrink, flex-basis*/
	flex: 1 1 auto;
	padding: 0.5em 0.75em;
}

form button {
	flex: 0 1 9%;
	background: #e2bb3b;
	padding: 1em 1em;
	border-radius: 5px;
	font-weight: bold;
	border: 0px;

}
/* vvvvvvvvvvvvvvvv */
/*form {
	background: #000;

}

form input {
	border: 0;
	padding: 10px;
	width: 90%;
	margin-right: .5%;
}

form button { 
	width: 9%; 
	background: #e2bb3b;
	border: none; padding: 10px; 
}*/

/*^^^^^^^^^^^^^*/

#message-pane {
	/*list-style-type: none;*/
	margin: 0;
	padding: 0;
	
	height: 100%;
	max-height: 100%;
	display: flex;
	flex-direction: column;
	/*justify-content: flex-end;*/
	overflow: auto;
	background-color: #555;
	border-radius: 5px;
}

#message-pane > :first-child {
    margin-top: auto !important;
    /* The !important prevents breakage from child margin settings. */
}

/*#message-pane li { padding: 5px 10px; }
#message-pane li:nth-child(odd) { background: #eee; }*/

h1.testh1{
	color: red;
	border: 2px solid red;
}

/* .outermost is basically "body", except a div. It contains everything.*/
#outermost {
	height: 100%;
	max-height: 100%;
	margin: 0;
}

.flexv {
	display: flex;
	flex-direction: column;
}

.flexh {
	display: flex;
	flex-direction: row;
}

.seg{
	/*Reminder that this is shorthand for:
		flex: flex-grow, flex-shrink, flex-basis
	*/
	flex: 0 1 auto;
}

.seg-grow{
	/*Reminder that this is shorthand for:
		flex: flex-grow, flex-shrink, flex-basis
	*/
	flex: 1 1 auto;
}

#messaging { 
	max-height: 100%;
	overflow: auto;
	padding: 1em;
	border-radius: 10px;
	padding-right: 0em;
}
#main {max-height: 100%; overflow: auto;}
#user-list-wrapper{background-color: #2e3441; background-color: #333a; border-radius:10px; margin-top: 1em; padding: 1em; overflow: auto; font-size: 1.25em; max-width: 30%; margin-bottom: 1em; margin-right: 1em;}

.nickname{font-weight: bold;}
.your-text{font-weight: bold;}
.you-string{font-style: italic;}
.chat-title{
	font-family: Impact, Charcoal, sans-serif;
	font-style: italic;
	text-decoration: underline;
	font-weight: 1000;
	color: #e2bb3b;
}

/*Custom scrollbar*/
::-webkit-scrollbar {
  background-color: #333;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #444; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #222; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e2bb3b; 
}




/*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/

/* Chat containers */
.message {
  border-top: 2px solid #484848;
  background-color: #444;
  padding: 0.75em 0.75em;
}

.you {
  background-color: #3d3d3d;
}

.warning {
	background-color: #CC2222;
	border-top: 2px solid #c22;
}

.warning-top {
	font-weight: bold;
	text-decoration: underline;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
/*.message::after {
  content: "";
  clear: both;
  display: table;
}*/

/* Style time text */
.timestamp {
  float: right;
  color: #aaa;
}



@media screen and (max-width: 739px){
	.flexh{flex-direction: column-reverse;}
	#user-list-wrapper{max-height: 30%; max-width: 100%; margin-left: 1em; margin-right: 1em;}
	#messaging{padding-right: 1em;
}